#azul {
	background-color: #3498db;
	width: 300px;
	height: 300px;
	float:left;
}

#rojo {
	background-color: #e74c3c;
	width: 300px;
	height: 300px;
	float:left;
}

#verde {
	background-color: #16a085;
	width: 300px;
	height: 300px;
	float:left;
}

#amarillo {
	background-color: #f1c40f;
	width: 300px;
	height: 300px;
	float:left;
}

.extra {
	border: 3px solid #336699;
	width: 400px;
	margin: 0 auto;
}

p {
font-family: arial, helvetica;
color: #fff;
padding: 50px;
}

a {
	text-decoration: none;
	background: #6CF0E9;
	border:2px solid #6CF0E9;
	color: #ffffff;
	border-radius: 25px;
}
a:hover {
	color: #FF4AA1;
	}

/* SlidesJS */
#slides {	
	width: 640px;	
}
#slidesjs-container {	
	margin-bottom: 50px;
}
p {
	font-family: arial, helvetica;
	color: #336699;
	padding: 50px;
}

